@import "../styles/variables.scss";
@import "../styles/media.scss";
html {
    scroll-behavior: smooth;
}

body{
	margin : 0;
	background-color: $colPink;
	position: relative;
	height: 99vh;

	.btn-menu{
		width: 40px;
		height: 40px;
		position: fixed;
		padding: 10px;
		top: 8%;
		right: 5%;
		z-index: 40;
		transform: rotate(180deg);
		border-radius: 80px;
		background-color: rgba($colBlack,.1);
		transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);

		&:hover{
			.bar1{
				transform-origin: center;
				transform: translateY(7px);
			}
			.bar2{
				opacity: 0;
			}
			.bar3{
				transform-origin: center;
				transform: translateY(-11px);
			}
		}
		
		.bar1{
			width: 40px;
			height: 2px;
			background: $colWhite;
			margin:  10px auto;
			display: block;
			transition:  .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}
		.bar2{
			width: 25px;
			height: 2px;
			background: $colWhite;
			margin:  10px 0;
			display: block;
			transition:  .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}
		.bar3{
			width: 40px;
			height: 2px;
			background: $colWhite;
			margin:  10px auto;
			display: block;
			transition:  .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}
		
	}
	.openBtn{
		background-color: transparent;
		border-radius: 0;
		border: 1px solid $colWhite;
		.bar1{
			transform-origin: center;
			transform: rotate(45deg) translate(8px, 7px);
		}
		.bar2{
			opacity: 0
		}
		.bar3{
			transform-origin: center;
			transform: rotate(-45deg) translate(10px, -11px);
		}
	}

	.menu{
		width: 100vw;
		height: 100vh;
		background: $colPink;
		position: fixed;
		z-index: 17;

		ul{
			padding: 0;
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);

			li{
				list-style: none;
				margin: 20px 0;
				text-align: center;

				&:hover{
					a{
						letter-spacing: 4px;
					}
				}

				a{
					color: $colWhite;
					text-decoration: none;
					font-family: $IBM;
					font-size: 2em;
					transition: 0.3s ease-in-out;
				}
			}
		}
	}

	.open{
		transform: translateX(0);
		transition: 0.7s ease-in-out;
	}
	.close{
		transform: translateX(110%);
		transition: 0.7s ease-in-out;
	}

	.wrapper{
		background-color: $colWhite ;
		width: 90vw;
		height: 95vh;
		overflow: scroll;
		position: absolute;
		transform-origin: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 10;
		box-shadow: 0 0 20px rgba($colBlack,.8);

		.content{
			overflow: hidden;
			position: relative;
			
			

			.hero{
				width: 100%;
				height: 95vh;
				position: relative;

				&-title{
					color: $colWhite;
					margin: 0;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-family: $Roboto;
					font-size: 2em;
					font-weight: 700;
					text-align: center;
					
				}
				&-subtitle{
					color: $colWhite;
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-family: $IBM;
					font-size: 2em;
					text-align: center;
					font-weight: 300;
				}
				&-info{
					color: $colWhite;
					margin: 0;
					position: absolute;
					top: 60%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-family: $Roboto;
					font-weight: 400;
					font-size: 1em;
				}
				@keyframes aniHeadScroll {
					0%{opacity: 0;}
					50%{opacity: 1;}
					100%{opacity: 0;}
				}
				&-scrollTo{
					position: absolute;
					bottom: 5%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-family: $Roboto;
					width: 40px;
					height: 40px;
					z-index: 15;
					animation: aniHeadScroll 2.5s infinite ;
				}
			}
			.home{
				background-image: url(../assets/content/background-hero.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.formation{
				background-image: url(../assets/content/formation.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.infos{
				background-image: url(../assets/content/info_pratique.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.panel{
				padding: 20px;
			}
			.T1{
				&-content{
					.T1-title{
						font-family: $IBM;
						font-weight: bold;
						color: $colOrange;
						font-size: 3em;

						span{
							display: block;
							font-size: 0.4em;
							font-weight: 400;
						}
					}
					.T1-text{
						font-family: $Roboto;
						font-size: 1em;
					}
					.T1-btn{
						float: right;
						margin-bottom: 20px;
						overflow: hidden;
						position: relative;
						

						span{
							display: block;
							position: relative;
							
						}
						&::before{
							content: "";
							position: absolute;
							transform-origin: center right;
							left: 0;
							right: 0;
							bottom: 50%;
							width: 200px;
							height: 120px;
							background-color: $colOrange;
							-webkit-transform: scaleX(0) translate(-120%,50%);
							transform: scaleX(0) translate(-120%,50%);
							transition: -webkit-transform .5s ease;
							transition: transform .5s ease;
							transition: transform .5s ease,-webkit-transform .5s ease;
							clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
						}
						
						&:hover{
		
							color: $colBlack;

							&::before{
								-webkit-transform-origin: center left;
								transform-origin: center left;
								-webkit-transform: scaleX(1) translate(10%,50%);
								transform: scaleX(1) translate(10%,50%);
							}
						}
					}
				   
				}
				.T1-illu{
					width: 100%;
					margin: 15px 0;

					.T1-fig{
						margin: 0;
						width: 100%;
						
						.T1-img{
							width: 100%;
							height: auto;
						}
						.T1-figC{
							text-align: center;
							font-family: $Roboto;
							margin-top: 10px;
						}
					}
				}
			}
			.T2{
				&-title{
					font-family: $IBM;
					font-weight: bold;
					color: $colOrange;
					font-size: 2em;

					span{
						display: block;
						font-size: 0.4em;
						font-weight: 400;
					}
				}
				&-row{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start ;
					justify-content: space-between;

					.T2-column{
						display: flex;
						align-items: flex-start;
						justify-content: space-around;
						flex-flow: column nowrap;

						&-title{
							font-family: $IBM;
							font-weight: 400;
							color: $colOrange;
							position: relative;

							&::after{
								position: absolute;
								content: "";
								background-color: $colOrange;
								width: 100%;
								height: 2px;
								bottom: -10px;
								left: 0;
							}
						}

						&-text{
							font-family: $Roboto;
						}
					}

				}
				.T2-btn{
					overflow: hidden;
					position: relative;
					display: inline-block;

					span{
						display: block;
						position: relative;
					}
					&::before{
						content: "";
						position: absolute;
						transform-origin: center right;
						left: 0;
						right: 0;
						bottom: 50%;
						width: 300px;
						height: 120px;
						background-color: $colOrange;
						-webkit-transform: scaleX(0) translate(-120%,50%);
						transform: scaleX(0) translate(-120%,50%);
						transition: -webkit-transform .5s ease;
						transition: transform .5s ease;
						transition: transform .5s ease,-webkit-transform .5s ease;
						clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
					}
					
					&:hover{
	
						color: $colBlack;

						&::before{
							-webkit-transform-origin: center left;
							transform-origin: center left;
							-webkit-transform: scaleX(1) translate(10%,50%);
							transform: scaleX(1) translate(10%,50%);
						}
					}
				}
			}
			.T3{
				&-title{
					font-family: $IBM;
					font-weight: bold;
					color: $colOrange;
					font-size: 2em;

					span{
						display: block;
						font-size: 0.4em;
						font-weight: 400;
					}
				}
				&-text{
					font-family: $Roboto;
				}

				&-row{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start ;
					justify-content: space-around; 

					.T3-column{
						display: flex;
						align-items: flex-start;
						justify-content: space-around;
						flex-flow: column nowrap;
						max-width: 80%;

						&-title{
							font-family: $IBM;
							font-weight: 400;
							color: $colOrange;
							position: relative;

							&::after{
								position: absolute;
								content: "";
								background-color: $colOrange;
								width: 100%;
								height: 2px;
								bottom: -10px;
								left: 0;
							}
						}

						ul{
							font-family: $Roboto;
							padding: 0;
						}
						&-text{
							font-family: $Roboto;
						}
					}
				}
			}
			.T4{
				&-title{
					font-family: $IBM;
					font-weight: bold;
					color: $colOrange;
					font-size: 2em;

					span{
						display: block;
						font-size: 0.4em;
						font-weight: 400;
					}
				}
				&-flex{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					justify-content: space-around;

					.T4-card{
						background-color: $colPink;
						padding: 20px;
						width: 80%;
						margin: 20px 0;
						color: $colWhite;

						&-row{
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							justify-content: space-around;

							.card-pic{
								width: 40%;
								height: auto;
							}

							.card-text{
								.T4-card-title{
									font-family: $IBM;
									font-weight: 400;
								}
								p{
									font-size: 0.8em;
									font-family: $Roboto;
									line-height: 1;
								}
							}
						}
					}
				}
			}
			.T5{
				&-title{
					font-family: $IBM;
					font-weight: bold;
					color: $colOrange;
					font-size: 2em;

					span{
						display: block;
						font-size: 0.4em;
						font-weight: 400;
					}
				}
				&-subtitle{
					font-family: $IBM;
					font-weight: 400;
					color: $colOrange;
					position: relative;
					display: inline-block;

					&::after{
						position: absolute;
						content: "";
						background-color: $colOrange;
						width: 100%;
						height: 2px;
						bottom: -10px;
						left: 0;
					}
				}
				p{
					font-family: $Roboto;
				}
				&-flex{
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: flex-start;
				}
			}
			.T6{
				&-title{
					font-family: $IBM;
					font-weight: bold;
					color: $colOrange;
					font-size: 2em;

					span{
						display: block;
						font-size: 0.4em;
						font-weight: 400;
					}
				}
				form{
					input{
						padding: 10px;
						border: none;
						border-bottom: 1px solid $colGray;
						width: 80%;
						margin: 15px auto;
						display: block;
						color: $colGray;

						&:focus{
							border-bottom: 2px solid $colPink;
						}
					}
					textarea{
						width: 80%;
						display: block;
						margin: 15px auto;
						border: none;
						border-bottom: 1px solid $colGray;

						&:focus{
							border-bottom: 2px solid $colPink;
						}
					}
					.form-btn{
						display: block;
						margin: 25px auto;
						border: none;
						font-family: $IBM;
						color: $colPink;
						background-color: rgba($colGray,.05);
						box-shadow: 
							-6px -6px 12px 0 rgba(255,255,255,1),
							6px 6px 12px 0 rgba(0,0,0,0.3);
						-webkit-transition: color .2s ease-in,transform .2s cubic-bezier(0.19,1,0.22,1) .1s;
						-o-transition: color .2s ease-in,transform .2s cubic-bezier(0.19,1,0.22,1) .1s;
						transition: color .2s ease-in,transform .2s cubic-bezier(0.19,1,0.22,1) .1;

						&:hover{
							-webkit-transform: scale(0.95);
							-moz-transform: scale(0.95);
							-ms-transform: scale(0.95);
							transform: scale(0.95);
							box-shadow: 
								-8px -8px 12px 0 rgba(255,255,255,1),
								8px 8px 12px 0 rgba(0,0,0,0.3);
						}
					}
				}
			}
			.footer{
				padding: 20px;
				border-top: 2px solid $colPink;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				flex-flow: column nowrap;

				&-logo{
					width: 100%;

					img{
						width: 100%;
						height: auto;
					}
				}
				&-reseau{
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-evenly;
					align-items: center;
					width: 100%;
					margin-bottom: 15px;

					a{
						transition: .3s ease-in-out;

						&:hover{
							transform: scale(1.2);
						}
					}
				}

				&-sitemap{
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-around;
					align-items: center;
					width: 100%;

					.line{
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: space-evenly;
						width: 100%;
						margin: 10px 0;

						a{
							color: $colGray;
							text-decoration: none;
							font-family: $Roboto;
							transition: 0.3s ease-in-out;

							&:hover{
								color: $colOrange;
							}
						}
					}
				}
			}
		}
	}
	.btn{
		background-color: transparent;
		padding: 5px 30px;
		border: 2px solid $colOrange;
		border-radius: 20px;
		color: $colOrange;
		font-family: $Roboto;
		text-decoration: none;
		transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	}

	//************************************************************
	//               RESPONSIVE
	//************************************************************

	@include xl{
		.wrapper{
			width: 95vw;
			height: 90vh;

			.content{
				.hero{
					&-title{
						top:40%;
						font-size: 2em;
					}
					&-subtitle{
						font-size: 4em;
					}
					&-info{
						top: 60%;
						font-size: 1.5em;
					}
				}
				.panel{
					padding: 60px;
					max-height: 80vh;
				}
				.T1{
					display: flex;
					flex-flow: row nowrap;
					align-items: flex-start;
					justify-content: space-between;

					&-content{
						width: 45%;
						height: 70vh;
						display: flex;
						flex-flow: column nowrap;
						align-items: flex-start;
						justify-content: space-around;

						.T1-title{
							font-size: 4em;
						}
						.T1-btn{
							align-self: flex-end;
						}
					}
					&-bar{
						background: $colOrange;
						width: 4px;
						height: 80vh;
					}
					.T1-illu{
						width: 45%;

						.T1-fig{
							width: 60%;
							margin: auto;
						}
					}
				}
				.T2{
					&-row{
						margin-bottom: 40px;
						.T2-column{
							width: 45%;
						}
					}
				}
				.T3{
					&-row{
						.T3-column{
							width: 30%;
						}
					}
				}
				.T4{
					&-flex{
						.T4-card{
							width: 45%;
							height: 150px;

							&-row{
							   .card-pic{
									width: 157px;
									height: auto;
								}
								.card-text{
									width: 45%;
								}
							}
						}
					}
				}
				.T5{
				   &-flex{
					   p{
						   width: 45%;
					   }
				   } 
				}
				.T6{
					form{
						.info{
							display: flex;
							flex-flow: row nowrap;
							align-items: flex-start;
							justify-content: space-around;

							input{
								width: 28%;
							}
						}
					}
				}
				.reverse{
					display: flex;
					flex-flow: row-reverse nowrap;
					align-items: flex-start;
					justify-content: space-between;
				}
				.footer{
					align-items: center;
					flex-flow: row nowrap;

					&-logo{
						width: 470px;
						height: auto;
					}
					&-reseau{
						width: 20%;
					}

					&-sitemap{
						width: 40%;
						align-items: flex-start;
					}
				}
			}
		}
	}
}
::-webkit-scrollbar{
	display: none;
}
