html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #e18c86;
  position: relative;
  height: 99vh;
}

body .btn-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  padding: 10px;
  top: 8%;
  right: 5%;
  z-index: 40;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body .btn-menu:hover .bar1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

body .btn-menu:hover .bar2 {
  opacity: 0;
}

body .btn-menu:hover .bar3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

body .btn-menu .bar1 {
  width: 40px;
  height: 2px;
  background: #FFFFFF;
  margin: 10px auto;
  display: block;
  -webkit-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body .btn-menu .bar2 {
  width: 25px;
  height: 2px;
  background: #FFFFFF;
  margin: 10px 0;
  display: block;
  -webkit-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body .btn-menu .bar3 {
  width: 40px;
  height: 2px;
  background: #FFFFFF;
  margin: 10px auto;
  display: block;
  -webkit-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body .openBtn {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #FFFFFF;
}

body .openBtn .bar1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg) translate(8px, 7px);
          transform: rotate(45deg) translate(8px, 7px);
}

body .openBtn .bar2 {
  opacity: 0;
}

body .openBtn .bar3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg) translate(10px, -11px);
          transform: rotate(-45deg) translate(10px, -11px);
}

body .menu {
  width: 100vw;
  height: 100vh;
  background: #e18c86;
  position: fixed;
  z-index: 17;
}

body .menu ul {
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .menu ul li {
  list-style: none;
  margin: 20px 0;
  text-align: center;
}

body .menu ul li:hover a {
  letter-spacing: 4px;
}

body .menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 2em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

body .close {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

body .wrapper {
  background-color: #FFFFFF;
  width: 90vw;
  height: 95vh;
  overflow: scroll;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

body .wrapper .content {
  overflow: hidden;
  position: relative;
}

body .wrapper .content .hero {
  width: 100%;
  height: 95vh;
  position: relative;
}

body .wrapper .content .hero-title {
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

body .wrapper .content .hero-subtitle {
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "IBM Plex Mono", monospace;
  font-size: 2em;
  text-align: center;
  font-weight: 300;
}

body .wrapper .content .hero-info {
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

@-webkit-keyframes aniHeadScroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aniHeadScroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .wrapper .content .hero-scrollTo {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  width: 40px;
  height: 40px;
  z-index: 15;
  -webkit-animation: aniHeadScroll 2.5s infinite;
          animation: aniHeadScroll 2.5s infinite;
}

body .wrapper .content .home {
  background-image: url(../assets/content/background-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .wrapper .content .formation {
  background-image: url(../assets/content/formation.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .wrapper .content .infos {
  background-image: url(../assets/content/info_pratique.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .wrapper .content .panel {
  padding: 20px;
}

body .wrapper .content .T1-content .T1-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 3em;
}

body .wrapper .content .T1-content .T1-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T1-content .T1-text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

body .wrapper .content .T1-content .T1-btn {
  float: right;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

body .wrapper .content .T1-content .T1-btn span {
  display: block;
  position: relative;
}

body .wrapper .content .T1-content .T1-btn::before {
  content: "";
  position: absolute;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 200px;
  height: 120px;
  background-color: #F39C12;
  -webkit-transform: scaleX(0) translate(-120%, 50%);
  transform: scaleX(0) translate(-120%, 50%);
  transition: -webkit-transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

body .wrapper .content .T1-content .T1-btn:hover {
  color: #000;
}

body .wrapper .content .T1-content .T1-btn:hover::before {
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: scaleX(1) translate(10%, 50%);
  transform: scaleX(1) translate(10%, 50%);
}

body .wrapper .content .T1 .T1-illu {
  width: 100%;
  margin: 15px 0;
}

body .wrapper .content .T1 .T1-illu .T1-fig {
  margin: 0;
  width: 100%;
}

body .wrapper .content .T1 .T1-illu .T1-fig .T1-img {
  width: 100%;
  height: auto;
}

body .wrapper .content .T1 .T1-illu .T1-fig .T1-figC {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

body .wrapper .content .T2-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 2em;
}

body .wrapper .content .T2-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T2-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .content .T2-row .T2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body .wrapper .content .T2-row .T2-column-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #F39C12;
  position: relative;
}

body .wrapper .content .T2-row .T2-column-title::after {
  position: absolute;
  content: "";
  background-color: #F39C12;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
}

body .wrapper .content .T2-row .T2-column-text {
  font-family: "Roboto", sans-serif;
}

body .wrapper .content .T2 .T2-btn {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

body .wrapper .content .T2 .T2-btn span {
  display: block;
  position: relative;
}

body .wrapper .content .T2 .T2-btn::before {
  content: "";
  position: absolute;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 300px;
  height: 120px;
  background-color: #F39C12;
  -webkit-transform: scaleX(0) translate(-120%, 50%);
  transform: scaleX(0) translate(-120%, 50%);
  transition: -webkit-transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

body .wrapper .content .T2 .T2-btn:hover {
  color: #000;
}

body .wrapper .content .T2 .T2-btn:hover::before {
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: scaleX(1) translate(10%, 50%);
  transform: scaleX(1) translate(10%, 50%);
}

body .wrapper .content .T3-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 2em;
}

body .wrapper .content .T3-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T3-text {
  font-family: "Roboto", sans-serif;
}

body .wrapper .content .T3-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .content .T3-row .T3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 80%;
}

body .wrapper .content .T3-row .T3-column-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #F39C12;
  position: relative;
}

body .wrapper .content .T3-row .T3-column-title::after {
  position: absolute;
  content: "";
  background-color: #F39C12;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
}

body .wrapper .content .T3-row .T3-column ul {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

body .wrapper .content .T3-row .T3-column-text {
  font-family: "Roboto", sans-serif;
}

body .wrapper .content .T4-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 2em;
}

body .wrapper .content .T4-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T4-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .content .T4-flex .T4-card {
  background-color: #e18c86;
  padding: 20px;
  width: 80%;
  margin: 20px 0;
  color: #FFFFFF;
}

body .wrapper .content .T4-flex .T4-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .content .T4-flex .T4-card-row .card-pic {
  width: 40%;
  height: auto;
}

body .wrapper .content .T4-flex .T4-card-row .card-text .T4-card-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

body .wrapper .content .T4-flex .T4-card-row .card-text p {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

body .wrapper .content .T5-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 2em;
}

body .wrapper .content .T5-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T5-subtitle {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #F39C12;
  position: relative;
  display: inline-block;
}

body .wrapper .content .T5-subtitle::after {
  position: absolute;
  content: "";
  background-color: #F39C12;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
}

body .wrapper .content .T5 p {
  font-family: "Roboto", sans-serif;
}

body .wrapper .content .T5-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .wrapper .content .T6-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #F39C12;
  font-size: 2em;
}

body .wrapper .content .T6-title span {
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

body .wrapper .content .T6 form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #9D9D9D;
  width: 80%;
  margin: 15px auto;
  display: block;
  color: #9D9D9D;
}

body .wrapper .content .T6 form input:focus {
  border-bottom: 2px solid #e18c86;
}

body .wrapper .content .T6 form textarea {
  width: 80%;
  display: block;
  margin: 15px auto;
  border: none;
  border-bottom: 1px solid #9D9D9D;
}

body .wrapper .content .T6 form textarea:focus {
  border-bottom: 2px solid #e18c86;
}

body .wrapper .content .T6 form .form-btn {
  display: block;
  margin: 25px auto;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  color: #e18c86;
  background-color: rgba(157, 157, 157, 0.05);
  -webkit-box-shadow: -6px -6px 12px 0 white, 6px 6px 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -6px -6px 12px 0 white, 6px 6px 12px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: color 0.2s ease-in, transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  -webkit-transition: color 0.2s ease-in, -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1;
  transition: color 0.2s ease-in, -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1;
  transition: color 0.2s ease-in, transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1;
  transition: color 0.2s ease-in, transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1, -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1;
}

body .wrapper .content .T6 form .form-btn:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: -8px -8px 12px 0 white, 8px 8px 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -8px -8px 12px 0 white, 8px 8px 12px 0 rgba(0, 0, 0, 0.3);
}

body .wrapper .content .footer {
  padding: 20px;
  border-top: 2px solid #e18c86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body .wrapper .content .footer-logo {
  width: 100%;
}

body .wrapper .content .footer-logo img {
  width: 100%;
  height: auto;
}

body .wrapper .content .footer-reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

body .wrapper .content .footer-reseau a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body .wrapper .content .footer-reseau a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .wrapper .content .footer-sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .wrapper .content .footer-sitemap .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
}

body .wrapper .content .footer-sitemap .line a {
  color: #9D9D9D;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .wrapper .content .footer-sitemap .line a:hover {
  color: #F39C12;
}

body .btn {
  background-color: transparent;
  padding: 5px 30px;
  border: 2px solid #F39C12;
  border-radius: 20px;
  color: #F39C12;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media (min-width: 1200px) {
  body .wrapper {
    width: 95vw;
    height: 90vh;
  }
  body .wrapper .content .hero-title {
    top: 40%;
    font-size: 2em;
  }
  body .wrapper .content .hero-subtitle {
    font-size: 4em;
  }
  body .wrapper .content .hero-info {
    top: 60%;
    font-size: 1.5em;
  }
  body .wrapper .content .panel {
    padding: 60px;
    max-height: 80vh;
  }
  body .wrapper .content .T1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper .content .T1-content {
    width: 45%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .wrapper .content .T1-content .T1-title {
    font-size: 4em;
  }
  body .wrapper .content .T1-content .T1-btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  body .wrapper .content .T1-bar {
    background: #F39C12;
    width: 4px;
    height: 80vh;
  }
  body .wrapper .content .T1 .T1-illu {
    width: 45%;
  }
  body .wrapper .content .T1 .T1-illu .T1-fig {
    width: 60%;
    margin: auto;
  }
  body .wrapper .content .T2-row {
    margin-bottom: 40px;
  }
  body .wrapper .content .T2-row .T2-column {
    width: 45%;
  }
  body .wrapper .content .T3-row .T3-column {
    width: 30%;
  }
  body .wrapper .content .T4-flex .T4-card {
    width: 45%;
    height: 150px;
  }
  body .wrapper .content .T4-flex .T4-card-row .card-pic {
    width: 157px;
    height: auto;
  }
  body .wrapper .content .T4-flex .T4-card-row .card-text {
    width: 45%;
  }
  body .wrapper .content .T5-flex p {
    width: 45%;
  }
  body .wrapper .content .T6 form .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .wrapper .content .T6 form .info input {
    width: 28%;
  }
  body .wrapper .content .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper .content .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  body .wrapper .content .footer-logo {
    width: 470px;
    height: auto;
  }
  body .wrapper .content .footer-reseau {
    width: 20%;
  }
  body .wrapper .content .footer-sitemap {
    width: 40%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */